<title>This is a title</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('.static', filename='/css/nav.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='/css/cards.css')}}">
{% block navbar %}
    {% include 'nav.html' %}
{% endblock %}
{% block content %}
<div class="container">
    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
</div>
{% endblock %}
